$darkgrey: gainsboro;
$lighgrey: whitesmoke;
$green: yellowgreen;
$red: crimson;

$border: 0.5px $darkgrey solid;
$font: "Alegreya Sans", sans-serif;
$fontsize: 13px;

@mixin placement {
  display: flex;
  flex-direction: row;
  border: $border;
  padding: 0 20px;
}

@mixin downloadwrapperfont {
  font-size: 25px;
  font-weight: 400;
  margin: 15px 25px 15px 15px;
  font-family: $font;
}

@mixin downloadheadingsfont {
  font-size: 20px;
  font-weight: 400;
  margin: 15px 10px;
  font-family: $font;
}

@mixin scheduled {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 15px 0 15px 10px;
}

h1 {
  font-style: italic;
}

.fileWrapper {
  border: $border;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px $darkgrey;
  width: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.rowWrapper {
  @include placement();
  height: 40px;
  display: flex;
  p {
    min-width: 150px;
    display: flex;
    margin: 0;
    align-items: center;
  }
  :nth-child(4) {
    width: 600px;
  }
  :last-child {
    justify-content: flex-end;
  }
}

.rowWrapper:hover {
  background-color: $lighgrey;
}

.available {
  background-color: transparent;
  @include scheduled();
}

.scheduled {
  background-color: $green;
  @include scheduled();
}

.topRow1 {
  align-items: center;
  @include placement();
  h2 {
    @include downloadwrapperfont();
  }
  button {
    border: none;
    padding: 0;
    height: auto;
    @include downloadwrapperfont();
  }
  img {
    height: 40px;
  }
}

.topRow2 {
  padding: 0 60px;
  @include placement();
  h3 {
    @include downloadheadingsfont();
    width: 150px;
    display: flex;
    margin: 0;
    align-items: center;
  }
  :first-child {
    padding-left: 30px;
  }
  :nth-child(4) {
    width: 600px;
  }
  :last-child {
    justify-content: flex-end;
  }
}

input {
  margin-right: 20px;
  align-self: center;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: $lighgrey;
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  .text {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 33%;
    button {
      padding: 15px;
      font-size: $fontsize;
      background-color: white;
      text-transform: capitalize;
      border-radius: 1px;
    }
  }
}
