$darkgrey: gainsboro;
$green: yellowgreen;

$border: 0.5px $darkgrey solid;
$font: "Alegreya Sans", sans-serif;
$fontsize: 15px;

@mixin placement {
  display: flex;
  flex-direction: row;
  border: $border;
  padding: 0 20px;
}

h1 {
  font-style: italic;
}

.fileWrapper {
  display: flex;
  flex-direction: column;
}

.topRow1 {
  @include placement();
}

.topRow2 {
  @include placement();
}

.rowWrapper {
  @include placement();
}

p {
  margin: 0 20px;
}

.available {
  height: 20px;
  width: 20px;
  background-color: $green;
  border-radius: 50%;
  display: inline-block;
  margin: 15px 0 15px 10px;
}
