<h1>Download Files</h1>
{{log @model}}
<div class="fileWrapper">
  <div class="topRow">
    <input type="checkbox" />
    <h3>{{selected-counter @model}}</h3>
    <Counter @model={{@model}} />
    <h3>Download Selected</h3>
  </div>
  {{#each @model as |file|}}
  <File @file={{file}} />
  {{/each}}
</div>